In [1]:
import matplotlib.pyplot as plt
%run ../functions/ARFF.ipynb
arff_file_path = str('../data/Amazon_initial_50_30_10000.arff')
data, attributes, classes = load_arff_data(arff_file_path)
df = pd.DataFrame(data, columns=attributes)
df

,the numeric,and numeric,a numeric,of numeric,to numeric,is numeric,I numeric,in numeric,that numeric,it numeric,...,ra_ numeric,le_to numeric,bra numeric,uch_a numeric,ave_a numeric,n_in_ numeric,ied_ numeric,nd_b numeric,rso numeric,class
0,5,3,4,4,1,5,1,3,2,4,...,0,0,0,1,0,1,0,0,0,Agresti
1,12,3,6,2,3,4,2,0,1,3,...,0,0,5,0,1,0,0,0,0,Agresti
2,3,2,2,4,4,2,2,2,3,1,...,0,0,6,0,0,0,0,1,0,Agresti
3,18,4,6,5,4,2,1,0,4,3,...,0,0,0,0,0,0,0,0,0,Agresti
4,13,4,7,5,4,5,0,1,0,4,...,0,0,1,0,0,1,1,0,0,Agresti
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,15,11,5,9,10,0,5,6,1,3,...,0,0,0,0,0,1,0,2,0,Wilson
1496,12,7,7,5,5,3,3,2,1,5,...,0,0,0,0,0,0,0,0,0,Wilson
1497,8,10,2,4,2,0,2,3,1,1,...,0,0,0,0,0,0,0,0,0,Wilson
1498,11,12,10,7,8,4,4,7,2,2,...,0,0,0,0,0,0,0,1,2,Wilson
1499,8,7,5,6,5,4,4,11,6,0,...,0,0,0,0,0,0,0,1,1,Wilson

# Nedostajuće vrednosti

In [2]:
df.isna().any().any()

False

Primećujemo da u datom skupu podataka ne postoji nijedno polje koje nije popunjeno podacima. Iako ni u originalnom skupu ne bi bilo nedostajućih vrednosti, funkcija koju smo napravili za učitavanje podataka bi u slučaju dupliranih klasa uklonila duplikat, a u slučaju nedostatka podataka upisala na njegovo mesto 0.

In [3]:
df.describe().round(2)

,the numeric,and numeric,a numeric,of numeric,to numeric,is numeric,I numeric,in numeric,that numeric,it numeric,...,ompa numeric,ra_ numeric,le_to numeric,bra numeric,uch_a numeric,ave_a numeric,n_in_ numeric,ied_ numeric,nd_b numeric,rso numeric
count,1500.00,1500.00,1500.00,1500.00,1500.00,1500.00,1500.00,1500.00,1500.00,1500.00,...,1500.00,1500.00,1500.00,1500.00,1500.00,1500.00,1500.00,1500.0,1500.00,1500.00
mean,11.78,7.47,6.72,6.53,6.19,4.62,3.88,3.59,2.93,2.84,...,0.21,0.21,0.21,0.20,0.20,0.20,0.20,0.2,0.20,0.20
std,5.65,3.57,3.37,3.86,3.37,2.86,4.05,2.35,2.11,2.70,...,0.54,0.61,0.50,0.64,0.51,0.48,0.48,0.5,0.47,0.54
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00
25%,8.00,5.00,4.00,4.00,4.00,2.00,1.00,2.00,1.00,1.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00
50%,11.00,7.00,6.00,6.00,6.00,4.00,3.00,3.00,3.00,2.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00
75%,15.00,10.00,9.00,9.00,8.00,6.00,6.00,5.00,4.00,4.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00
max,32.00,21.00,20.00,25.00,24.00,15.00,21.00,15.00,13.00,19.00,...,4.00,6.00,4.00,8.00,5.00,4.00,4.00,5.0,3.00,4.00

In [4]:
df.shape

(1500, 10001)

# Podela na ulazne i ciljne podatke
Kako je naš cilj da na osnovu sadržaja teksta otkrijemo ko je autor teksta mi postavljamo Autore kao ciljane podatke i a sadržaj teksta koji su pisali kao ulazne podatke.

In [5]:
X = df.iloc[:,:-1]
Y = df.iloc[:,-1]

In [6]:
Y.unique()

array(['Agresti', 'Ashbacher', 'Auken', 'Blankenship', 'Brody', 'Brown',
       'Bukowsky', 'Calvinnme', 'CFH', 'Chachra', 'Chandler', 'Chell',
       'Cholette', 'Comdet', 'Corn', 'Cutey', 'Davisson', 'Dent',
       'Engineer', 'Goonan', 'Grove', 'Harp', 'Hayes', 'Janson',
       'Johnson', 'Koenig', 'Kolln', 'Lawyeraau', 'Lee', 'Lovitt',
       'Mahlers2nd', 'Mark', 'McKee', 'Merritt', 'Messick', 'Mitchell',
       'Morrison', 'Neal', 'Nigam', 'Peterson', 'Power', 'Riley',
       'Robert', 'Shea', 'Sherwin', 'Taylor', 'Vernon', 'Vision',
       'Walters', 'Wilson'], dtype=object)

In [7]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Columns: 10000 entries, the numeric to rso numeric
dtypes: int64(10000)
memory usage: 114.4 MB

# Podela podataka na trening i test skupove
Delimo skup na 80/20, tako da 80% koristimo za trening i 20% koristimo za testiranje.
Takođe mi ćemo standardizovati podatke tako da podatci sa ektremno velikim vrednostima nemogu neproporcionalno da utiču na ishod našeg zaključivanja. 
Koristimo opciju stratifz pri podeli na test i trening skupove kako se ne bi deslio da neki od autora ne budu u trening ili da ne budu u test skupu (zajedno sa njihovim podacima).

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

X_train = pd.DataFrame(data=X_train_scaled, columns=X_train.columns)
X_test = pd.DataFrame(data=X_test_scaled, columns=X_test.columns)

X_train.describe()

,the numeric,and numeric,a numeric,of numeric,to numeric,is numeric,I numeric,in numeric,that numeric,it numeric,...,ompa numeric,ra_ numeric,le_to numeric,bra numeric,uch_a numeric,ave_a numeric,n_in_ numeric,ied_ numeric,nd_b numeric,rso numeric
count,1.200000e+03,1.200000e+03,1.200000e+03,1.200000e+03,1.200000e+03,1.200000e+03,1.200000e+03,1.200000e+03,1.200000e+03,1.200000e+03,...,1.200000e+03,1.200000e+03,1.200000e+03,1.200000e+03,1.200000e+03,1.200000e+03,1.200000e+03,1.200000e+03,1.200000e+03,1.200000e+03
mean,1.421085e-16,1.021405e-16,-6.513308e-17,8.881784e-17,4.144833e-17,-1.036208e-16,2.812565e-17,-3.256654e-17,-2.072416e-17,7.993606e-17,...,-2.664535e-17,-2.368476e-17,3.256654e-17,3.404684e-17,-1.184238e-17,-6.217249e-17,1.184238e-17,-2.664535e-17,-4.144833e-17,-3.848773e-17
std,1.000417e+00,1.000417e+00,1.000417e+00,1.000417e+00,1.000417e+00,1.000417e+00,1.000417e+00,1.000417e+00,1.000417e+00,1.000417e+00,...,1.000417e+00,1.000417e+00,1.000417e+00,1.000417e+00,1.000417e+00,1.000417e+00,1.000417e+00,1.000417e+00,1.000417e+00,1.000417e+00
min,-2.079916e+00,-2.093445e+00,-1.989185e+00,-1.691733e+00,-1.812810e+00,-1.628958e+00,-9.688914e-01,-1.528033e+00,-1.401207e+00,-1.045490e+00,...,-3.687712e-01,-3.353595e-01,-4.076686e-01,-3.153555e-01,-3.962264e-01,-4.352135e-01,-4.149275e-01,-4.225203e-01,-4.438489e-01,-3.783105e-01
25%,-6.639033e-01,-6.962626e-01,-8.086596e-01,-6.558458e-01,-6.276441e-01,-5.740471e-01,-7.161921e-01,-6.771560e-01,-9.237943e-01,-6.744201e-01,...,-3.687712e-01,-3.353595e-01,-4.076686e-01,-3.153555e-01,-3.962264e-01,-4.352135e-01,-4.149275e-01,-4.225203e-01,-4.438489e-01,-3.783105e-01
50%,-1.328987e-01,-1.373896e-01,-2.183971e-01,-1.379024e-01,-3.506116e-02,-2.224103e-01,-2.107934e-01,-2.517177e-01,3.103185e-02,-3.033499e-01,...,-3.687712e-01,-3.353595e-01,-4.076686e-01,-3.153555e-01,-3.962264e-01,-4.352135e-01,-4.149275e-01,-4.225203e-01,-4.438489e-01,-3.783105e-01
75%,5.751075e-01,7.009199e-01,6.669966e-01,6.390126e-01,5.575218e-01,4.808634e-01,5.473047e-01,5.991589e-01,5.084449e-01,4.387906e-01,...,-3.687712e-01,-3.353595e-01,-4.076686e-01,-3.153555e-01,-3.962264e-01,-4.352135e-01,-4.149275e-01,-4.225203e-01,-4.438489e-01,-3.783105e-01
max,3.584134e+00,3.495285e+00,3.913440e+00,4.782560e+00,5.298185e+00,3.645595e+00,4.337795e+00,4.428104e+00,4.805163e+00,6.004844e+00,...,7.100013e+00,8.154754e+00,7.579308e+00,1.204143e+01,9.037736e+00,6.012394e+00,8.024275e+00,1.027420e+01,5.922112e+00,6.885251e+00

In [9]:
from joblib import dump
dump((X_train, X_test, Y_train, Y_test), 'classification_data_std.joblib')

['classification_data_std.joblib']